<header class="w3-container w3-center w3-padding-32">
   <h1 class="animated-header"><b>WAZZAM</b></h1>
   <p>Charge your social battery! <i class="fas fa-bolt"></i>
      {{#if username}}
      You are logged in as {{username}}.
      {{else}}
      Please take a moment to login!
      {{/if}}
   </p>
   {{#if username}}
    <a class="w3-button w3-grey w3-border" href="/login"><b>LOGIN</b></a>
    <a class="w3-button w3-white w3-border" href="/logout"><b>LOGOUT</b></a>
    {{else}}
    <a class="w3-button w3-white w3-border" href="/login"><b>LOGIN</b></a>
    <a class="w3-button w3-grey w3-border" href="/logout"><b>LOGOUT</b></a>
    {{/if}}
</header>
<div class="w3-content" style="max-width: 1400px">
   <div>
      {{#each comments}}
      <div>
         {{message}}
      </div>
      {{/each}}
   </div>
   <div id="wazzam-container"></div>
   <div class="w3-row">
      <main class="w3-col l8 s12">
         <article class="w3-card-4 w3-margin w3-white">
            <form action="/comment" method="POST">
               <fieldset>
                  <label for="">Message</label>
                  <input type="text" name="message">
               </fieldset>
               <input type="hidden" name="post_id" value="{{post_id}}">
               <fieldset>
                  <input type="submit" value="create comment">
               </fieldset>
            </form>
         </article>
         <hr>
         <!-- Repeat the above article block for other blog entries -->
      </main>
   </div>
</div>